.hyperlink-body{
    background-image: url('https://bettysgraphics.neocities.org/images/backgrounds/pattern%20313.gif');
    padding: var(--s-xxlg);
}

.hyperlink-section{
    width: 100%;
    min-height: 100%;
    color: #17202A;
}

.hyperlink__title{
    font-size: var(--s-xxlg);
    border-radius: var(--s-md);
    padding: var(--s-sm);
    text-align: center;
}

.hyperlink__description{
    font-weight: bold;
    text-align: center;
    font-size: var(--s-lg);
}

.hyperlink-grid{
    display: flex;
    gap: var(--s-xlg);
    flex-wrap: wrap;
    margin-block: var(--s-md);
}

.hyperlink-group{
    padding: var(--s-md);
    border-radius: var(--s-sm);
    border: 2px solid black;
    background-color: rgba(250, 235, 215, 0.5);
    width: 320px;
    align-self: flex-start;
}

.hyperlink-group__title{
    color: #17202A;
    margin-bottom: var(--s-md);
}

.hyperlink-list{
    list-style: square;
}

.hyperlink__item{
    margin-left: var(--s-md);
}

.hyperlink__link{
    font-weight: bold;
    color: blueviolet;
}