@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap');

:root{
    /* Colors */
    --blog-primary: #1E2601;
    --blog-secondary:#8C7B6C;
    --blog-info: #5B7327;
    --blog-light: #D9CDBF;
    --blog-dark: #0D0D0D;


    /* Spacing */
    --s-xs: 8px;
    --s-sm: 12px;
    --s-md:16px;
    --s-lg: 20px;
    --s-xlg: 28px;
    --s-xxlg: 36px;
    --s-xxxlg: 48px;
}